body {
	font-family: monospace;
	color:green;
	font-size: 20px;
	margin: 0px;
	padding:0px;
}

header {

}

main {

}

footer {
	display: grid;
	background-color: rgb(120,190,120);
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#footerBar{
	text-align: center;
}

h2{
	color: chocolate;
	font-size: 30px;
	font-family: monospace;

}

#heading{
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: auto;
	color: green;
}

img{

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#logoFull{
	width: 800px;
	height: auto;
	padding: 50px;
}

#mainContent{
	padding: 30px;
	display: grid;
	background: white;
	text-align: center;
	color: black;
	width: auto;
	max-width: 1700px;
	margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%;
	border-style: solid;
	border-width: 2px;
	border-color: darkgreen;
	font-family: 'Oswald', sans-serif;
	border-radius: 70px;
}

a{
	text-decoration: none;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: darkgreen;
}

a:hover {
	color: lightgreen;
}

.textboxlink {	text-decoration: none;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: darkgreen;
}
.textboxlink: hover {
	color: maroon;
}

#topLeftImage{
  width: 65px;
  height: auto;
  margin: 15px;
}

#topLeftImage:hover {
	animation: colorRotate 3s linear infinite;
}
@keyframes colorRotate {
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}

/*Taken from https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
/* Style all font awesome icons */

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: initial;
  background-color: white;
  height: 100px;
	/*makes the banner sticky*/
	position: -webkit-sticky;
  position: sticky;
	top: 0px;
	border-style: solid;
	border-color: white;
	border-bottom-color: grey;
}
.socmed-container {
margin: 4px;
}

.centered-element {
  position: absolute;
  left: 50%;
  margin-left: -75px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
	background: green;
	margin: 2px;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  color: white;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}

/* Reddit */
.fa-reddit {
  color: white;
}
